<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>HackerWall</title>
    <link rel="stylesheet" href="/main.css">
  </head>
  <body>
    <div class="c-header">
      <h1><a href="/">HackerWall</a></h1>
      <a href="/posts/new" class="c-link">Create a new Post</a>
    </div>

    {{{ body }}}

    <footer>
      <div class="c-content">
        Copyright 2017
      </div>
    </footer>
    <script src="/main.js"></script>
  </body>
</html>
