<header class="c-content__header">
  <h2 class="c-heading"> New Song: </h2>
</header>

<form class="c-form js-form">

  <label for="artist">Search for Song:</label>
  <input class="c-form__input" type="text" name="artist" placeholder="Song">
  <button class="c-form__button" type="submit" name="submit">Search</button>

</form>
