<header class="c-content__header">
  <h2 class="c-heading"> New Artists: </h2>
</header>

<form class="c-form js-form">

  <label for="artist">Search for Artist/Band:</label>
  <input class="c-form__input" type="text" name="artist" placeholder="Artist or Band ...">
  <button class="c-form__button" type="submit" name="submit">Search</button>

</form>

<div class="c-artist-list js-artists-container">

</div>
