<h2>Submit a new post:</h2>
<form action="/article/new" method="post">

  <p>
    <label for="">Title</label>
    <input type="text" name="title" value="">
  </p>

  <p>
    <label for="">URL</label>
    <input type="url" name="url" value="">
  </p>

  <p>
    <label for="">Author</label>
    <input type="text" name="author" value="">
  </p>

  <p>
    <label for="">Description</label>
    <textarea name="description" rows="8" cols="80"></textarea>
  </p>

  <input type="submit" name="" value="Submit">

</form>
