<div class="c-content">
  <h2>Submit a new post:</h2>
  <form class="c-form" action="/posts/new" method="post">
      <div class="c-form__item">
        <h4 class="c-form__title">Url:</h4>
        <input type="url" name="url" value="">
      </div>
      <div class="c-form__item">
        <h4 class="c-form__title"> Title: </h4>
        <input type="text" name="title" value="">
      </div>
      <div class="c-form__item">
        <h4 class="c-form__title"> Description: </h4>
        <textarea name="description" rows="8" cols="40"></textarea>
      </div>
      <div class="c-form__item">
        <h4 class="c-form__title">Author:</h4>
        <input type="text" name="author" value="">
      </div>
      <div class="c-form__item">
        <button type="submit" name="submit">Submit</button>
      </div>
  </form>
</div>
