.c-title {
  width: 100%;
  text-align: center;
}

.c-gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 0;
  transition: all 250ms ease;
}


.c-gallery-container {
  overflow: hidden;
  position: relative;
  width: 1000px;
  margin: 0 auto;
}

.c-gallery__item {
  list-style: none;
  height: 500px;
  min-width: 1000px;
  background-position: center center;
  background-size: cover;
}

.c-nav-list-container {
  text-align: center;
}

.c-nav-list {
  display: inline-block;
  list-style: none;
  padding: 0;
}

.c-nav-list__item {
  display: inline-block;
  font-size: 3rem;
}

.c-nav-list__item a {
  text-decoration: none;
  color: #333;
  padding: 1rem 2rem;
}
