<header class="c-content__header">
  <h2 class="c-heading"> Arists: </h2>
  <a class="c-link" href="/artists/new">New Artist</a>
</header>


<!-- Artist List will go here -->
{{#each artists}}
  {{> artist}}
{{/each}}
