<div class="container">
  <h1>Quote by {{ author }}</h1>
  <div class="quote">
    <blockquote>
      {{ text }}
    </blockquote>
    <cite>
      {{ author }}
    </cite>
  </div>
  <a href="/">Back</a>
  <a href="/edit/{{id}}">Edit</a>
</div>
